form {
  label {
    color: $red;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 8px;
  }

  input {
    height: 57px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    background: $dark-gray;
    color: $white;
    font-weight: 400;
    font-size: 20px;
    border: none;

    &:hover, &:focus {
      background: $dark-gray;
      color: $white;
    }

    &::placeholder {
      color: $light-gray;
    }
  }

  .error-message {
    color: $red;
    font-size: 14px;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .multiSelectContainer {
    .searchWrapper {
      border: none;
      padding: 0 8px;
      background: $dark-gray;
    }

    input {
      margin-top: 0;
      width: 133px;
    }

    .optionListContainer {
      background: $dark-gray;

      .option:hover, .highlightOption {
        background: $red;
      }
    }

    .chip {
      background: $red;
    }
  }
}
