@import "src/styles/colors";

.genreSelect {
  button {
    color: $white;
    text-transform: uppercase;
    background: transparent;
    border: none;
    height: 40px;
    padding: 8px;
  }

  &.active {
    color: $red;
  }
}
