@import "src/styles/colors";

.search-form {
  color: $white;

  &-label {
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
  }

  input {
    height: 57px;
    background: $dark-gray;;
    color: $white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    margin-right: 10px;

    &:focus {
      background: $dark-gray;
      color: $white;
    }

    &::placeholder {
      color: $light-gray;
    }
  }
}
