@import "src/styles/colors";

.genre-select {
  button {
    color: $white;
    text-transform: uppercase;
    background: transparent;
    border: none;
    height: 40px;
    margin-botton: 20px;

    &.active {
      color: $red;
    }
  }
}
