@import "src/styles/colors";

.searchForm {
  color: $white;
  padding: 20px;

  &__label {
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__clear {
    position: absolute;
    top: 15px;
    right: 23px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  input {
    height: 57px;
    background: $dark-gray;;
    color: $white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    margin-right: 10px;
    padding-right: 40px;

    &:focus {
      background: $dark-gray;
      color: $white;
    }

    &::placeholder {
      color: $light-gray;
    }
  }
}
