@import "src/styles/colors";

.sortControl {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__label {
    opacity: 0.6;
    margin-right: 12px;
    text-transform: uppercase;
  }

  &__select {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px;
  }
}
