@import "src/styles/colors";

.sort-order {
  height: 30px;
  margin: 0 15px;

  &__button {
    color: $white;
    background: transparent;
    border: none;

    &.active {
      color: $red;
    }
  }
}
