@import "src/styles/colors";

.sortOrder {
  height: 30px;
  margin: 0 15px;
  display: flex;
  justify-content: center;

  &__button {
    color: $white;
    background: transparent;
    border: none;

    &.active {
      color: $red;
    }
  }
}
