@import "src/styles/colors";

.sortOrder {
  height: 30px;
  margin: 0 15px;
  display: flex;
  justify-content: center;

  &__button {
    background: transparent;
    border: none;

    svg {
      fill: $white;
    }

    &.active {
      svg {
        fill: $red;
      }
    }
  }
}
