@import "src/styles/colors";

.App-header {
  min-height: 400px;
  background-color: $black;
}

.App-body {
  min-height: 500px;
  background-color: $black;
}

.logo {
  color: $red;
  font-weight: 300;
  font-size: 20px;
}
